*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  max-width: 2000px;
  margin: auto;
}

summary {
  width: 50px;
  margin: auto;
}
