*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  // max-width: 1400px;
  margin: 0 auto;
}

img {
  width: 100%;
}

summary {
  width: 50px;
  margin: auto;
}
