// COLORS

// primary
$light-red: hsl(356, 100%, 66%); //(CTA text)
$very-light-red: hsl(355, 100%, 74%); //(CTA hover background)
$very-dark-blue: hsl(208, 49%, 24%); //(headings)

//neutral
$white: hsl(0, 0%, 100%); //(text)
$grayish-blue: hsl(240, 2%, 79%); //(footer text)
$very-dark-grayish-blue: hsl(207, 13%, 34%); //(body copy)
$very-dark-black-blue: hsl(240, 10%, 16%); //(footer background)

$light-gray: hsla(0, 0%, 96%, 0.801);
$dark-gray: rgb(239, 239, 241);

$nav-color: hsl(211, 15%, 50%);

//gradient

// Background gradient - Intro/CTA mobile nav:
$very-light-red2: hsl(13, 100%, 72%);
$light-red: hsl(353, 100%, 62%);

// Background gradient - body:
$very-dark-gray-blue: hsl(237, 18%, 21%);
$very-dark-desaturated-blue: hsl(237, 23%, 32%);

//FONTS

// font size
$pri-font-size: 1rem;

// font family
$overpass: 'Overpass', sans-serif;

//BREAK POINTS

$bp-large: 1400px;
$bp-medium: 800px;
$bp-small: 700px;
