// colors

// primary
$light-red: hsl(356, 100%, 66%); //(CTA text)
$very-light-red: hsl(355, 100%, 74%); //(CTA hover background)
$very-dark-blue: hsl(208, 49%, 24%); //(headings)

//neutral
$white: hsl(0, 0%, 100%); //(text)
$grayish-blue: hsl(240, 2%, 79%); //(footer text)
$very-dark-grayish-blue: hsl(207, 13%, 34%); //(body copy)
$very-dark-black-blue: hsl(240, 10%, 16%); //(footer background)

$light-gray: hsla(0, 0%, 96%, 0.801);
$dark-gray: rgb(239, 239, 241);

$nav-color: #6c7e91;

//gradient

// Background gradient - Intro/CTA mobile nav:
$very-light-red2: hsl(13, 100%, 72%);
$light-red: hsl(353, 100%, 62%);

// Background gradient - body:
$very-dark-gray-blue: #2c2d3f;
$very-dark-desaturated-blue: #3f4164;

// font size
$pri-font-size: 1rem;

// font family
$ubuntu: 'Ubuntu', sans-serif;
$overpass: 'Overpass', sans-serif;
