@use '../abstracts/abstractsIndex' as *;

.main {
  max-width: 1450px;
  margin: 0 auto;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
  overflow: hidden;
  @include media($bp-medium) {
    margin-top: 1em;
  }

  &__content-wrapper {
    &:last-child {
      padding-bottom: 7em;
    }
    @include media($bp-large) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__header {
    margin: 2em 0;
    margin-bottom: 1em;
    font-size: 2rem;
    align-self: center;
    text-align: center;
    font-family: $overpass;
    font-weight: 600;
    line-height: 1.5;
    color: $very-dark-blue;
    @include media($bp-medium) {
      font-size: 2.5rem;
      transform: translateY(1em);
    }
  }

  &__img-container {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }

  &__sub-header {
    font-size: 1.8rem;
    font-family: $overpass;
    text-align: center;
    font-weight: 600;
    margin: 0.5em;
    color: $very-dark-blue;
    padding: 0.3em;
    @include media($bp-medium) {
      text-align: left;
      margin: 1em 0;
      padding: 0;
    }
    @include media($bp-large) {
      text-align: left;
      margin: 1em 0;
      padding: 0;
    }
  }

  &__msg {
    font-size: $pri-font-size;
    letter-spacing: 0.5px;
    font-family: $overpass;
    font-weight: 600;
    color: $very-dark-grayish-blue;
    text-align: center;
    line-height: 1.8;
    color: $very-dark-grayish-blue;
    margin: 2em;
    @include media($bp-medium) {
      text-align: left;
      margin: 0;
      padding-bottom: 2.5em;
    }
    @include media($bp-large) {
      text-align: left;
      margin: 0;
      padding-bottom: 2.5em;
    }
  }

  &__content-wrapper--intro {
    @include media($bp-medium) {
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'text image';
      justify-content: center;
      align-items: center;
      margin-bottom: 0em;
    }
    @include media($bp-extra-medium) {
      margin-bottom: 7em;
      margin: 0 auto 7em 1.5em;
    }
    @include media($bp-large) {
      margin: 0 5em;
      margin-bottom: 15em;
    }
  }

  &__text-content-wrapper--intro {
    @include media($bp-medium) {
      grid-area: text;
      transform: translate(2em, 1.5em);
      margin: 0;
      margin-right: 1em;
    }
    @include media($bp-large) {
      grid-area: text;
      transform: translate(2em, 1.5em);
      margin: 0 3em;
    }
  }

  &__img-container--illustration {
    margin-bottom: 2em;
    transform: scale(1);
    @include media($bp-medium) {
      transform: scale(1.45) translateX(6.2em);
      & img {
        content: url('/src/images/illustration-editor-desktop.svg');
      }
      margin-bottom: 0;
      grid-area: image;
    }

    @include media($bp-large) {
      transform: scale(1.45) translateX(9.2em);
    }
  }

  &__content-wrapper--phone {
    @include media($bp-extra-medium) {
      transform: translateY(-3.8em);
    }
    @include media($bp-large) {
      margin: 3em 0;
      transform: translateY(-5.8em);
      border-top-right-radius: 6em;
      border-bottom-left-radius: 6em;
      background-image: linear-gradient(
        162deg,
        rgba(44, 45, 63, 1) 13%,
        rgba(63, 65, 100, 1) 98%
      );
      position: relative;
      z-index: 800;
    }

    @include media($bp-extra-medium) {
      transform: translateY(-5.8em);
    }
  }

  &__header--phone {
    color: $white;
    font-size: 2.5rem;
    line-height: 1.2;
    @include media($bp-large) {
      transform: translate(6.9em, 2em);
    }
  }

  &__img-container--phone {
    margin-top: 4em;
    margin-bottom: -13em;
    margin: 4em auto -13em auto;
    position: relative;
    z-index: 900;

    max-width: 552px;
    @include media($bp-large) {
      position: absolute;
      transform: scale(1) translate(-19.5em, -8em);
    }
  }

  &__text-content-wrapper--phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 5em;
    border-bottom-left-radius: 5em;
    padding: 10em 0;
    padding-bottom: 7.5em;
    background-image: linear-gradient(
      162deg,
      rgba(44, 45, 63, 1) 13%,
      rgba(63, 65, 100, 1) 98%
    );
    position: relative;
    z-index: 800;
    overflow: hidden;
    margin-bottom: 6em;

    @include media($bp-medium) {
      padding-bottom: 3.5em;
      margin-bottom: 0em;
    }

    @include media($bp-extra-medium) {
      margin-bottom: 5em;
    }

    @include media($bp-large) {
      border: unset;
      padding: 0;
      background-image: linear-gradient(
        162deg,
        rgba(44, 45, 63, 1) 13%,
        rgba(63, 65, 100, 1) 98%
      );
      position: relative;
      z-index: 800;
      overflow: hidden;
      margin: 0;
      background: unset;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &::after {
      z-index: -1;
      position: absolute;
      top: -30.5rem;
      bottom: 0;
      content: url('/src/images/bg-pattern-circles.svg');
      transform: scale(0.6);
      display: flex;
      justify-content: center;
      width: 100%;
      @include media($bp-large) {
        transform: translate(-26.5em, -2em) scale(1);
      }
    }
  }

  &__msg--phone {
    color: $white;
    font-weight: 300;
    margin: 0 1.5em;
    text-align: center;
    @include media($bp-medium) {
      width: 70%;
      margin: auto;
      padding-bottom: 0;
    }

    @include media($bp-large) {
      transform: translate(43em, -1.5em);
      margin-right: 52.2em;
      margin-left: 2em;
      padding: 5em 0;
      padding-bottom: 5.5em;
      width: 39%;
      text-align: left;
    }
  }

  &__content-wrapper--laptop {
    @include media($bp-medium) {
      margin: 0;
      display: flex;
      flex-direction: row;
      transform: translateY(4em);
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    @include media($bp-extra-medium) {
      margin-bottom: 7em;
      margin: 0 0.5em 7em auto;
    }
    @include media($bp-large) {
      margin-bottom: 11em;
      transform: translateY(8.5em);
    }
  }

  &__img-container--laptop {
    width: 100%;
    margin-bottom: 2.5em;
    transform: scale(1.3);
    @include media($bp-medium) {
      flex: 1;
      transform: translateX(-3.5em) scale(1.8);
      margin-right: 3em;
    }
    @include media($bp-large) {
      margin-right: 0;
      transform: translateX(-3.5em) scale(1.85);
    }
  }

  &__img--laptop {
    @include media($bp-large) {
      content: url('/src/images/illustration-laptop-desktop.svg');
    }
  }

  &__text-content-wrapper--laptop {
    @include media($bp-medium) {
      flex: 1;
      margin: 1em;
    }
    @include media($bp-large) {
      flex: 1;
      transform: translate(1em, -1em);
      margin: 0 12em;
    }
  }
}
