@use '../abstracts/abstractsIndex' as *;

.header {
  position: relative;
  background: rgb(255, 61, 84);
  background: linear-gradient(
    337deg,
    rgba(255, 61, 84, 1) 0%,
    rgba(255, 143, 112, 1) 88%
  );
  z-index: -1;
  overflow: hidden;
  padding-bottom: 3em;
  border-bottom-left-radius: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'nav nav'
    'intro intro';

  &__background-container {
    overflow: hidden;
    grid-area: logo;
  }

  &__background {
    position: absolute;
    top: 5rem;
    left: 6rem;
    z-index: -1;
    transform: scale(3);
    height: 100%;
    overflow: hidden;
  }

  &__intro-message {
    grid-area: intro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em 2.5em;
    font-family: $overpass;
    color: $white;
    & h1 {
      text-align: center;
      font-weight: 600;
    }

    & p {
      margin: 0.5em;
      text-align: center;
      color: $light-gray;
    }
  }
}

.nav {
  grid-area: nav;
  padding: 3em 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2.5em 0;

  &__intro {
    flex: 1;
    margin: 0 0.5em;
    font-size: 1rem;
    font-family: $overpass;
    font-weight: 700;
    padding: 0.8em 1em;
    border-radius: 2em;
    width: 9rem;
    border: solid 1px $white;
  }

  &__start {
    color: $light-red;
    background-color: $white;
  }

  &__learn {
    border-color: $light-gray;
    background-color: unset;
    color: $white;
  }
}

.hidden {
  display: none;
}
